@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* COLORS */
  --primary: oklch(0.205 0 0);
  --bg-dark: hsl(211 70% 10%);
  --bg: hsl(211 70% 20%);
  --bg-light: hsl(211 70% 30%);
  --bg-lighter: hsl(211 70% 40%);
  --text: oklch(0.96 0 264);
  --text-muted: oklch(0.76 0 264);

  /* TYPOGRAPHY */
  --ff: "Inter", sans-serif;
  --h1: bold 4rem/1em var(--ff);
  --h2: bold 3rem/1.2em var(--ff);
  --h3: bold 2.25rem/1.2em var(--ff);
  --h4: bold 1.5rem/1.6em var(--ff);
  --big: 1.25rem/1.6em var(--ff);
  --p: 1rem/1.6em var(--ff);
  --small: 0.75rem/2em var(--ff);

  /* shadows */
  --shadow-s: inset 0 1px 2px #ffffff30, /* top highlight */ 0 1px 2px #00000030,
    /* dark shadow */ 0 2px 4px #00000015; /* soft shadow */
  --shadow-m: inset 0 1px 2px #ffffff50, /* top highlight */ 0 2px 4px #00000030,
    /* dark shadow */ 0 4px 8px #00000015; /* soft shadow */
  --shadow-l: inset 0 1px 2px #ffffff70, /* top highlight */ 0 4px 6px #00000030,
    /* dark shadow */ 0 6px 10px #00000015; /* soft shadow */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
:root.light {
  --bg-dark: oklch(0.88 0 264);
  --bg: oklch(0.92 0 264);
  --bg-light: oklch(0.96 0 264);
  --bg-lighter: oklch(1 0 264);
  --text: oklch(0.15 0 264);
  --text-muted: oklch(0.4 0 264);
}
body {
  margin: 0;
  font-family: var(--ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-dark);
  color: #fff;
  overflow-x: hidden;
}
.title {
  font: var(--h4);
  transition-duration: 300ms;

  @media (width >= 480px) {
    font: var(--h3);
  }
  @media (width >= 710px) {
    font: var(--h2);
  }
  @media (width >= 980px) {
    font: var(--h1);
  }
}

.btn-s {
  font: bold var(--big);
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  transition-property: all;
  transition-duration: 300ms;
}
.btn-l {
  font: var(--h4);
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition-property: all;
  transition-duration: 300ms;
}
.btn-sl {
  font: bold var(--big);
  border-radius: 2rem;
  padding: 0.75rem 1.5rem;
  transition-property: all;
  transition-duration: 300ms;
}
.hero {
  font: var(--h4);
}
@media ((min-height: 840px) and (min-width: 768px)) {
  .hero {
    font: var(--h2);
  }
}
@media (min-width: 768px) {
  .btn-sl {
    font: var(--h4);
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition-property: all;
    transition-duration: 300ms;
  }
}
h1 {
  font: var(--h2);
}
@media (min-width: 768px) {
  h1 {
    font: var(--h1);
  }
}
h2 {
  font: var(--h2);
}
h3 {
  font: var(--h3);
}
h4 {
  font: var(--h4);
}
p {
  font: var(--p);
}
.p-med {
  font: 500 var(--p);
}
.p-bold {
  font: bold var(--p);
}
.big {
  font: var(--big);
}
.link {
  font: bold var(--p);
}
.small {
  font: var(--small);
}
.shadow-s {
  box-shadow: var(--shadow-s);
}
.shadow-m {
  box-shadow: var(--shadow-m);
}
.shadow-l {
  box-shadow: var(--shadow-l);
}
.shadow-sl {
  box-shadow: var(--shadow-s);
}
.shadow-sl:hover,
.shadow-sl.active {
  box-shadow: var(--shadow-l);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --primary: oklch(0.205 0 0);
  --bg-dark: hsl(211 70% 10%);
  --bg: hsl(211 70% 20%);
  --bg-light: hsl(211 70% 30%);
  --bg-lighter: hsl(211 70% 40%);
  --text: oklch(0.96 0 264);
  --text-muted: oklch(0.76 0 264);

  --background: hsl(211 70% 10%);
  --foreground: oklch(0.96 0 264);
  --card: hsl(211 70% 20%);
  --card-foreground: oklch(0.96 0 264);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.96 0 264);
  --primary: oklch(50.5% 0.213 27.518);
  --primary-foreground: oklch(0.96 0 264);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.96 0 264);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: hsl(211 70% 40%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
